#exercise_page.hide(data-role='page', data-quicklinks='true', ng-controller='ExerciseCtrl')
  div(data-role='header', data-position="fixed")
    h2
      span.fit-logo F
      | {{select_timestamp*1000 | date: 'EEEE'}},&nbsp;
      span.small {{select_timestamp*1000 | date: 'd MMMM'}}
    a.ui-btn.ui-btn-no-border.ui-btn-left.less-left(href="#main_page", data-transition="slideup")
      i.fit-icon-large.fit-icon-left-arrow
    .btn-group-right
      a.ui-btn.ui-btn-no-border(href="#cooment_popup", data-rel="popup", data-transition="pop")
        i.fit-icon-large.fit-icon-comment
    div(data-role="navbar")
      ul
        li
          a(href="http://fitmus.com/exercise/id/{{select_train.id_exercise}}", ng-external-link) Упражнение
        li
          a(href="http://fitmus.com/muscle/group/{{select_train.id_muscle_group}}", ng-external-link) Мишца
  div(data-role='content')
    ul(data-role="listview")
      li
        img.exercise-img( ng-exercise-img="exercises[select_train.id_exercise]")
        .li-content(ng-chose-mode="select_train")
          h3(ng-color-mode) {{exercises[select_train.id_exercise].name}}
          p {{musclegroups[select_train.id_muscle_group]}}
          a.ui-btn.ui-btn-no-border.ui-btn-bottom-right(href="#", ng-next-mode)
            i.fit-icon-mid.fit-icon-charge

      li(ng-repeat="(index,approach) in select_train.result| orderIntKey:-1")
        div(ng-approach="approach")
          table
            tr
              td
                | {{index+1}}
              td
                .ui-input-text.ui-body-inherit.ui-corner-all.ui-shadow-inset.ui-input-has-additional
                  input.no-jqm-widget(type="number", value="10.88", min="0.00", ng-approach-result-1)
                  a.ui-btn.ui-input-add.grey(href="#") BLANK
              td
                | X
              td
                .ui-input-text.ui-body-inherit.ui-corner-all.ui-shadow-inset.ui-input-has-additional
                  input.no-jqm-widget(type="number", value="10.88", min="0.00", ng-approach-result-2)
                  a.ui-btn.ui-input-add.grey(href="#") BLANK

            tr.for-time
              td
                a.ui-btn.ui-btn-no-border.ui-btn-short(href="#", ng-click="remove(index+1)")
                  i.fit-icon-mid.fit-icon-remove
              td
                .ui-input-text.ui-body-inherit.ui-corner-all.ui-shadow-inset.ui-input-has-additional
                  input.no-jqm-widget(type="text", value="00:00", ng-approach-rest, readonly)
                  a.ui-btn.ui-input-add.two-line(href="#")
                    | Отдых
                    br
                    i.ui-icon-clock-fix
              td
              td
                .ui-input-text.ui-body-inherit.ui-corner-all.ui-shadow-inset.ui-input-has-additional
                  input.no-jqm-widget(type="text", value="00:00", ng-approach-work, readonly)
                  a.ui-btn.ui-input-add.purple.two-line(href="#")
                    | Работа
                    br
                    i.ui-icon-clock-fix

          dl.left
            dt.for-no-time-inline
              a.ui-btn.ui-btn-no-border.ui-btn-short(href="#", ng-click="remove(index+1)")
                i.fit-icon-mid.fit-icon-remove
            dd БЫЛО:
            dt 95 x 8
          dl.right.for-time
            dd Отдых:
            dt.lime 01:30
            dd Работа:
            dt.purple 00:12
          .clearfix


      //li
        table
          tr
            td
              | 1
            td
              input(type="number", value="10.88", data-additional-btn="true",data-additional-btn-content="КГ")
            td
              | X
            td
              input(type="number", value="112", data-additional-btn="true", data-additional-btn-class="grey", data-additional-btn-content="РАЗ")
          tr
            td
              a.ui-btn.ui-btn-no-border.ui-btn-short(href="#")
                i.fit-icon-mid.fit-icon-remove
            td
              input(type="number", value="10.88", data-additional-btn="true", data-additional-btn-class="two-line", data-additional-btn-content="Отдых<br><i class='ui-icon-clock-fix'/>")
            td
            td
              input(type="number", value="10.88", data-additional-btn="true", data-additional-btn-class="two-line purple",data-additional-btn-content="Работа<br><i class='ui-icon-clock-fix'/>")
        dl.left
          dd БЫЛО:
          dt 95 x 8
        dl.right
          dd Отдых:
          dt.lime 01:30
          dd Работа:
          dt.purple 00:12
        .clearfix
