#exercise_page.hide(data-role='page', data-quicklinks='true', ng-controller='ExerciseCtrl')
  div(data-role='header', data-position="fixed")
    h2
      span.fit-logo F
      | Вторник,&nbsp;
      span.small 1 сентября
    a.ui-btn.ui-btn-no-border.ui-btn-left.less-left(href="#main_page")
      i.fit-icon-large.fit-icon-left-arrow
    .btn-group-right
      a.ui-btn.ui-btn-no-border(href="#cooment_popup", data-rel="popup", data-transition="pop")
        i.fit-icon-large.fit-icon-comment
    div(data-role="navbar")
      ul
        li
          a(href="//fitmus.com/exercise/id/{{glob.select_train.id_exercise}}", ng-external-link) Упражнение
        li
          a(href="//fitmus.com/muscle/group/{{glob.select_train.id_muscle_group}}", ng-external-link) Мишца
  div(data-role='content')
    ul(data-role="listview")
      li
        img.exercise-img( src="{{exercises[glob.select_train.id_exercise].img}}")
        .li-content
          //h3.red
          //  | Сведение рук в тренажере с
          //  | верхним кроссовером и
          //  | небольшим наклоном вниз
          //p грудь
          h3(style="color:{{mode[glob.select_train.mode].color}};") {{exercises[glob.select_train.id_exercise].name}}
          p {{musclegroups[glob.select_train.id_muscle_group]}}

      li
        table
          tr
            td
              | 1
            td
              input(type="number", value="10.88", data-additional-btn="true",data-additional-btn-content="КГ")
            td
              | X
            td
              input(type="number", value="112", data-additional-btn="true", data-additional-btn-class="grey", data-additional-btn-content="РАЗ")
          tr
            td
              a.ui-btn.ui-btn-no-border.ui-btn-short(href="#")
                i.fit-icon-mid.fit-icon-remove
            td
              input(type="number", value="10.88", data-additional-btn="true", data-additional-btn-class="two-line", data-additional-btn-content="Отдых<br><i class='ui-icon-clock-fix'/>")
            td
            td
              input(type="number", value="10.88", data-additional-btn="true", data-additional-btn-class="two-line purple",data-additional-btn-content="Работа<br><i class='ui-icon-clock-fix'/>")
        dl.left
          dd БЫЛО:
          dt 95 x 8
        dl.right
          dd Отдых:
          dt.lime 01:30
          dd Работа:
          dt.purple 00:12
        .clearfix
