#main_menu.hide(data-role="panel", data-position="left", data-display="overlay", data-theme="b", ng-controller='MenuCtrl')
  ul
    li
      a(href="#main_page", data-transition="slideup")
       i.fit-icon-schedules
       | Расписание
    li
      a(href="#note_page", data-transition="slideup")
        i.fit-icon-edit
        | Записи
    li
      a(href="#", ng-click="sync()")
        i.fit-icon-save
        | Синзронизацыя
    li
      a(href="#settings_page", data-transition="slideup")
        i.fit-icon-settings
        | Настройка
    li
      a(href="#", ng-click="exit()")
        i.fit-icon-exit
        | Виход