#main_menu.hide(data-role="panel", data-position="left", data-display="overlay", data-theme="b")
  ul
    li
      a(href="#main_page")
       i.fit-icon-schedules
       | Расписание
    li
      a(href="#")
        i.fit-icon-edit
        | Записи
    li
      a(href="#")
        i.fit-icon-save
        | Синзронизацыя
    li
      a(href="#settings_page")
        i.fit-icon-settings
        | Настройка
    li
      a(href="#auth_page")
        i.fit-icon-exit
        | Виход