#select_exercise_page.hide(data-role='page', data-quicklinks='true', ng-controller='SelectExerciseCtrl')
  div(data-role='header', data-position="fixed")
    h2
      span.fit-logo F
      | Добавить упражнение
    a.ui-btn.ui-btn-no-border.ui-btn-left.less-left(href="#select_muscle_page", data-transition="slideup")
      i.fit-icon-large.fit-icon-left-arrow

  div(data-role='content')
    ul(data-role="listview")
      li(ng-repeat="(id, exercise) in exercises | inRangeInt: musclegroup_exercises[muscle_id] ")
        img.exercise-img( ng-exercise-img="exercise")
        .li-content
          h3.blue {{exercise.name}}
          p {{musclegroups[muscle_id]}}
        a.ui-btn.ui-btn-no-border.ui-btn-bottom-right(href="#main_page?{{exercise.id}}", data-transition="slideup")
          i.fit-icon-big.fit-icon-add
