#settings_page.hide(data-role='page', data-quicklinks='true', data-theme="b", ng-controller='SettingsCtrl')
  div(data-role='header', data-position="fixed")
    h2
      span.fit-logo F
      | Настройки
    a.main_menu-link.ui-btn.ui-btn-no-border.ui-btn-left(href="#")
      i.fit-icon-big.fit-icon-schedules
    div(style="border-bottom: 1px solid #030303;" )

  div(data-role='content')
    h3 Внешний вид
    h4
      | Отображать время
      input(type="checkbox", ng-model="settings.is_show_time")
    h4
      | Единицы веса
      .ui-btn(ng-chose-unit="settings.weight_unit", ng-chose-unit-data="units.weight") КГ
    h4
      | Единицы расстояния
      .ui-btn(ng-chose-unit="settings.distance_unit", ng-chose-unit-data="units.distance")  КМ
    h3 Синхронизация
    h4
      | Автоматическая синхрозизацыя
      input(type="checkbox", ng-model="settings.is_auto_update")
    h3 Аккаунт
    h4
      a(href="#", ng-click="logout()") Вход под другим аккаунтом
