extends layout

block contents

  include _auth
  include _main
  include _main_edit
  include _exercise
  include _select_muscle
  include _select_exercise
  include _note
  include _settings

  include _comment
  include _menu
