doctype 5
html(ng-app="myApp")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge,chrome=1")
    meta(name="viewport" content="width=device-width,initial-scale=1")

    title= title
    link(rel='stylesheet', href='/libs/jquery.mobile-1.4.0-rc.1/jquery.mobile-1.4.0-rc.1.css')
    link(rel='stylesheet', href='/fonts/fit-icon/styles.css')
    link(rel='stylesheet', href='/stylesheets/ui.css')
    link(rel='stylesheet', href='/stylesheets/style.css')



  body
    block contents
    script(src='/libs/jquery-2.0.3.js')
    script(src='/libs/jquery.mobile-1.4.0-rc.1/jquery.mobile-1.4.0-rc.1.js')
    script(src='/js/jquery.mobile.fix.js')
    script(src='/libs/angular-1.2.2/angular.js')
    script(src='/libs/handlebars-v1.1.2.js')
    script(src='/libs/lodash.js')
    script(src='/libs/iscroll-4/src/iscroll.js')




    script(src='/js/app.js')

